[phases.setup]
nixPkgs = ["python310"]

[phases.install]
cmds = ["pip install --upgrade pip", "pip install -r requirements.txt"]

[start]
cmd = "gunicorn src.web.live_interactive_map:app --bind 0.0.0.0:$PORT --timeout 120 --workers 2"
